body {
    font-family: "Poppins", sans-serif;
    background-color: #e5e5e5;
    font-weight: 400;
}

* {
    z-index: 2;
}

.p-top20 {
    padding-top: 20px;
}

.p-top40 {
    padding-top: 40px;
}

<<<<<<< HEAD
=======
.p-top80 {
    padding-top: 80px;
}

.p-btm80 {
    padding-bottom: 20px;
}

>>>>>>> 3caeca8 (add some features)
.p-btm20 {
    padding-bottom: 80px;
}

<<<<<<< HEAD
/* Navbar */
=======

/* Navbar */

>>>>>>> 3caeca8 (add some features)
.navbar {
    z-index: 3;
    background-color: #048853;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
}

.navbar-brand {
    font-weight: 600;
}

.btn-pri {
    width: 133px;
    height: 40px;
    font-weight: 500;
    left: 1140px;
    top: 38px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    -webkit-text-fill-color: #048853;
    font-weight: 600;
}

.btn-sec {
    width: 133px;
    height: 40px;
    left: 1140px;
    top: 38px;
    border: none;
    background: transparent;
    font-weight: 500;
    -webkit-text-fill-color: #ffffff;
}
<<<<<<< HEAD
/* Navbar */

/* Hero */
=======


/* Navbar */


/* Hero */

>>>>>>> 3caeca8 (add some features)
#hero {
    background: linear-gradient(160deg, #00985b, #000);
    height: 100vh;
    width: 100%;
}
<<<<<<< HEAD
.hero-img {
    z-index: 1;
}
=======

.hero-img {
    z-index: 1;
}

>>>>>>> 3caeca8 (add some features)
.hero-text h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
}
<<<<<<< HEAD
=======

>>>>>>> 3caeca8 (add some features)
.hero-text p {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 90%;
}
<<<<<<< HEAD
=======

>>>>>>> 3caeca8 (add some features)
.btn-pri-hero {
    width: 237px;
    height: 60px;
    font-weight: 600;
    left: 93px;
    top: 478px;
    border: none;
    border-radius: 5px;
    -webkit-text-fill-color: #048853;
    background: #ffffff;
}
<<<<<<< HEAD
/* Layanan */
=======


/* Layanan */

>>>>>>> 3caeca8 (add some features)
h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    color: #048853;
}

h3 {
    font-size: 20px;
    margin-top: 50px;
}

#layanan p {
    font-size: 15px;
    margin-top: 15px;
}

.card-layanan {
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 30px;
<<<<<<< HEAD
    margin-bottom: 30px;
=======
    margin-bottom: 90px;
>>>>>>> 3caeca8 (add some features)
    padding: 40px;
    transition: all 0.2s ease-in;
}

<<<<<<< HEAD
/* If Hover */
=======

/* If Hover */

>>>>>>> 3caeca8 (add some features)
.card-layanan:hover {
    width: 100%;
    border-radius: 10px;
    background-color: #00985b;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    transition: all 0.2s ease-out;
}

<<<<<<< HEAD
/* Search Section */
=======

/* Search Section */

>>>>>>> 3caeca8 (add some features)
#cari {
    background-image: url(../img/search\ image.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#cari h2 {
    color: #ffffff;
    margin-top: 150px;
}

#cari p {
    color: #ffffff;
}

.dropdown {
    color: #ffffff;
}

.input-cari {
    background-color: #ffffff;
    height: 88px;
    border-radius: 10px;
    margin-top: 40px;
}

.img-icon {
    padding: 10px;
}

.btn-cari {
    background-color: #00985b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

<<<<<<< HEAD
/* Menu Explore Wisata */
#explore h2 {
    text-align: center;
}
=======

/* Menu Explore Wisata */

#explore h2 {
    text-align: center;
}

>>>>>>> 3caeca8 (add some features)
.explore_section .filters_menu {
    padding: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 45px 0 20px 0;
}

.explore_section .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
}

.explore_section .filters_menu li.active {
    background-color: #048853;
    color: #ffffff;
}

.explore_section .box {
    position: relative;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, #048853 25px);
}

.explore_section .box .img-box {
    background: #f2e9e2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
    border-radius: 25px;
    margin: -1px;
    padding: 25px;
}

.explore_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.explore_section .box .detail-box {
    padding: 25px;
}

.explore_section .box .detail-box h5 {
    font-weight: 600;
}

.explore_section .box .detail-box p {
    font-size: 15px;
}

.explore_section .box .detail-box h6 {
    margin-top: 10px;
}

.explore_section .box .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.explore_section .box .options a {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    background: #2a9946;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.explore_section .box .options a svg {
    width: 18px;
    height: auto;
    fill: #ffffff;
}

.explore_section .box:hover .img-box img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.explore_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
<<<<<<< HEAD
=======
    padding-bottom: 45px;
>>>>>>> 3caeca8 (add some features)
}

.explore_section .btn-box a {
    display: inline-block;
    padding: 10px 55px;
    background-color: #2a9946;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.explore_section .btn-box a:hover {
    background-color: #62a974;
}

<<<<<<< HEAD
=======

/*komentar*/

.komentar_section {
    position: relative;
}

.komentar_section .heading_container {
    margin-bottom: 25px;
}

.wrapper {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper .form input {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.wrapper .form textarea {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.wrapper .form .btn {
    background: #222222;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.3s all ease;
}

.wrapper .form .btn:hover {
    opacity: 1;
}

.content {
    text-align: center;
    background: #2a9946;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.content p {
    width: 100%;
}


/*kontak*/

>>>>>>> 3caeca8 (add some features)
.kontak_section {
    position: relative;
}

.kontak_section .heading_container {
    margin-bottom: 25px;
}

.kontak_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.kontak_section .form_container .form-control::-webkit-input-placeholder {
    color: #222222;
}

.kontak_section .form_container .form-control:-ms-input-placeholder {
    color: #222222;
}

.kontak_section .form_container .form-control::-ms-input-placeholder {
    color: #222222;
}

.kontak_section .form_container .form-control::placeholder {
    color: #222222;
}

.kontak_section .form_container .nice-select .current {
    font-size: 16px;
}

.kontak_section .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #2a9946;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.kontak_section .form_container button:hover {
    background-color: #2a9946;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3caeca8 (add some features)
